/* =====================
   HOME KITCHEN SECTION
   ===================== */
.home-kitchen {
  padding: 50px 0;
  background-color: #F7F8FA;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.food-card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.food-image {
  position: relative;
  height: 180px;
  overflow: hidden;

}

.food-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-badge {
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #F3BA00;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 5px;
  border-radius: 4px;
  border: 1px solid rgb(190, 189, 190);
}

.food-info {
  padding: 15px;
}

.food-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.food-price {
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.food-meta {
  display: flex;
  align-items: center;
  gap: 8px;
}

.food-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #000000;
  background-color: #efefef;
  padding: 4px 7px;
  border-radius: 6px;
  border:solid 1px #e1dfdf;
  
}

.food-time {
  font-size: 12px;
  color: #000;
  padding:5px 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
  border-left: solid 4px #BEBEBE;
  border-right: solid 4px #BEBEBE;
}

.add-btn {
  margin-left: auto;
  width: 20px;
  height: 20px;
  background-color: #F3BA00;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #d0a002;
}
