/* =====================
   VIDEO SECTION
   ===================== */
.video-section {
  padding-bottom: 10%;
   position: relative;
  text-align: center;
  background-color: #FAFAFA;
}
.video-section .container {
  padding: 0px;
   width: 100%;

}
.video-background-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 49%;
  background: #1AC073;
  z-index: 9999;
  opacity: 0.2;

}
 

 

.video-title {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.3;
}

.video-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.6;
}

.video-wrapper {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 0px;
  overflow: hidden;
  cursor: pointer;
}

.video-wrapper video {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: #2ebf91;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.play-btn:hover {
  background-color: #1ac073;
  transform: translate(-50%, -50%) scale(1.1);
}

.play-btn.hidden {
  opacity: 0;
  pointer-events: none;
}
